################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CES/bin/Debug/net6.0
/CES/obj
/CES/Properties
